<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>This content is inserted for static prototyping reasons only</h3>
	<!-- jQuery -->
	<script th:fragment="jquery"
		src="../../static/bower_components/jquery/dist/jquery.min.js"
		th:src="@{static/bower_components/jquery/dist/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:fragment="bootsrtapjs"
		src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js"
		th:src="@{static/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script th:fragment="metisjs"
		src="../../static/bower_components/metisMenu/dist/metisMenu.min.js"
		th:src="@{static/bower_components/metisMenu/dist/metisMenu.min.js}"></script>

	<!-- Morris Charts JavaScript -->
	<script th:fragment="raphaeljs"
		src="../../static/bower_components/raphael/raphael-min.js"
		th:src="@{static/bower_components/raphael/raphael-min.js}"></script>

	<!-- DataTables JavaScript -->
	<script th:fragment="jquerydatatables"
		src="../../static/bower_components/datatables/media/js/jquery.dataTables.min.js"
		th:src="@{static/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
	<script th:fragment="bootstrapdatatables"
		src="../../static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"
		th:src="@{static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>

	<script th:fragment="morrisjs"
		src="../../static/bower_components/morrisjs/morris.min.js"
		th:src="@{static/bower_components/morrisjs/morris.min.js}"></script>
	<script th:fragment="morrisdatajs" src="../../static/js/morris-data.js"
		th:src="@{static/js/morris-data.js}"></script>


	<!-- Flot Charts JavaScript -->
	<script th:fragment="excanvas"
		src="../../static/bower_components/flot/excanvas.min.js"
		th:src="@{static/bower_components/flot/excanvas.min.js}"></script>
	<script th:fragment="jqueryflot"
		src="../../static/bower_components/flot/jquery.flot.js"
		th:src="@{static/bower_components/flot/jquery.flot.js}"></script>
	<script th:fragment="jqueryflotpie"
		src="../../static/bower_components/flot/jquery.flot.pie.js"
		th:src="@{static/bower_components/flot/jquery.flot.pie.js}"></script>
	<script th:fragment="jqueryflotresize"
		src="../../static/bower_components/flot/jquery.flot.resize.js"
		th:src="@{static/bower_components/flot/jquery.flot.resize.js}"></script>
	<script th:fragment="jqueryflottime"
		src="../../static/bower_components/flot/jquery.flot.time.js"
		th:src="@{static/bower_components/flot/jquery.flot.time.js}"></script>
	<script th:fragment="jqueryflottooltip"
		src="../../static/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"
		th:src="@{static/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
	<script th:fragment="flotdata" src="../../static/js/flot-data.js"
		th:src="@{static/js/flot-data.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script th:fragment="sb-admin" src="../../static/dist/js/sb-admin-2.js"
		th:src="@{static/dist/js/sb-admin-2.js}"></script>
</body>
</html>