<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/header :: head (title='SB Admin 2 - Blank')">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Home Page</title>

</head>

<body>

	<div id="wrapper">

		<div th:replace="fragments/header :: header">&nbsp;</div>

		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Blank</h1>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<div th:replace="fragments/footer :: jquery">JavaScript tags are
		loaded here</div>
	<div th:replace="fragments/footer :: bootsrtapjs">JavaScript tags
		are loaded here</div>
	<div th:replace="fragments/footer :: metisjs">JavaScript tags are
		loaded here</div>
	<div th:replace="fragments/footer :: sb-admin">JavaScript tags
		are loaded here</div>

</body>

</html>
